@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap");
body {
  font-family: "Nunito Sans";
  font-weight: 400;
  color: #161512; }

#p1 {
  left: 600px;
  display: none;
  background-color: #FFFFFF; }

#p1 .inner-panel {
  margin: 40px 5px 0px 5px; }

#p1 #scroll-bar {
  max-height: 450px;
  overflow-y: scroll;
  scrollbar-color: #A22F2E #161512;
  scrollbar-width: thin;
  padding: 15px 8px 0px 8px; }

#p1 p {
  margin: 0px;
  margin-bottom: 8px; }

#p1 .switch {
  vertical-align: middle; }

#p1 div {
  margin-bottom: 3px; }

#p1 .category {
  margin-top: 7px;
  margin-bottom: 2px;
  font-style: italic;
  color: #161512; }

#p1 .text {
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 1rem;
  color: #161512; }

#p1 .title {
  font-family: "Nunito Sans";
  font-size: 1rem;
  color: #161512; }
