@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap");
body {
  font-family: "Nunito Sans";
  font-weight: 400;
  color: #161512; }

#p2 {
  left: 600px;
  display: none;
  background-color: #FFFFFF; }

#p2 .inner-panel {
  margin: 38px 5px 0px 5px; }

#p2 h1 {
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 1rem;
  color: #161512;
  margin-bottom: 7px; }

#add {
  width: 18px;
  height: auto;
  position: absolute;
  bottom: 3px;
  transition: 0.3s; }

#p2:not(.prevent-non-editing-inputs) #add:hover {
  transform: translate(-50%, 0%) scale(1.1, 1.1);
  cursor: pointer; }

/******************************************************************************/
/* session */
.session {
  display: flex;
  height: 40px;
  margin-bottom: 12px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.1); }

#session-template,
.hidden {
  display: none; }

/* session -> session-content */
.session-content {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative; }

#p2:not(.prevent-non-editing-inputs) .session:not(.selected-session) .session-content:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer; }

#p2:not(.prevent-non-editing-inputs) .session:not(.selected-session) .session-content p:hover {
  cursor: pointer; }

/* session -> session-content -> user-color */
.user-color {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  margin: auto;
  margin-left: 5px;
  margin-right: 5px;
  transition: 0.5s; }

/* session -> session-content -> user-color -> check */
.session:not(.selected-session) .check-mark {
  display: none; }

/* session -> session-content -> p */
.session-content p {
  margin: auto;
  margin-left: 5px;
  font-size: 1.3em; }

.editing p {
  display: none; }

/* session -> session-content -> editor */
.editor {
  width: 133px;
  margin-left: 5px;
  display: none; }

.editing .editor {
  display: block; }

/* session -> session-content -> editor -> input */
.session input[type="text"] {
  background-color: rgba(0, 0, 0, 0.115);
  border: none;
  font-size: 1.2em;
  width: 100%;
  height: 24px;
  margin-top: 2px; }

.incorrect-input {
  animation-name: flickering;
  animation-duration: 0.25s;
  animation-iteration-count: infinite; }

@keyframes flickering {
  50% {
    background-color: rgba(255, 0, 0, 0.115); }
  100% {
    background-color: rgba(255, 0, 0, 0.2); } }

/* session -> session-content -> editor -> color-picker */
.color-picker {
  height: 10px;
  position: absolute;
  bottom: 2px;
  width: 133px;
  background-image: url("../../images/spectre.png");
  cursor: pointer; }

/* session -> session-content -> editor -> color-picker -> color-picker-slider */
.color-picker-slider {
  position: absolute;
  left: -2px;
  bottom: -2px;
  box-shadow: 0px 0px 3px 0px black; }

/* session -> options */
.options {
  position: relative;
  display: flex;
  margin: auto;
  height: 100%; }

/* session -> options -> option */
.option {
  position: relative;
  width: 40px;
  height: 40px; }

.selected-session .delete,
.editing .delete,
.editing .edit,
.session:not(.editing) .cancel,
.session:not(.editing) .validate {
  display: none; }

body:not(.grab) .cancel:hover,
body:not(.grab) .validate:hover {
  background-color: rgba(255, 255, 255, 0.623);
  cursor: pointer; }

.txt-add {
  font-family: "Nunito Sans";
  font-size: 1rem; }

#p2 #scroll-bar {
  max-height: 422px;
  overflow-y: scroll;
  scrollbar-color: #A22F2E #161512;
  scrollbar-width: thin;
  padding: 15px 10px 0px 10px; }

.add-footer {
  background-color: #A22F2E; }

.bg-add {
  color: #FFFFFF;
  background-color: #FFFFFF;
  padding-top: 3px;
  display: flex; }

.delete {
  margin-top: 10px; }
