// Imports
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap');
// Setup colors
$black: #161512;
$white: #FFFFFF;
$grey: #C9C9C9;
$grey2: #F2F2F2;
$color1: #A22F2E;
$color2: #FFC81F;
// Setup fonts
@mixin font1 {
    font-family: "Nunito Sans";
}

@mixin font1-xlight {
    @include font1;
    font-weight: 200;
}

@mixin font1-light {
    @include font1;
    font-weight: 300;
}

@mixin font1-regular {
    @include font1;
    font-weight: 400;
}

@mixin font1-medium {
    @include font1;
    font-weight: 600;
}

@mixin font1-bold {
    @include font1;
    font-weight: 700;
}

@mixin font1-xbold {
    @include font1;
    font-weight: 800;
}

@mixin font1-black {
    @include font1;
    font-weight: 900;
}

// Generic styles
body {
    @include font1-regular;
    color: $black;
}