@import './generic.scss';

*{
	margin : 0px;
	padding : 0px;
}

html{
	overflow-x : hidden;
	overflow-y : hidden;
}

body{
	width : 300px;
	height : 450px;

	@include font1-light;
    font-size: 1rem;
    color: $black;

	user-select : text;
}

p:hover, h1:hover, .text{
	cursor : text;
}

.grab, .grab input, .grab h1{
	cursor : pointer;
}

.grab, img{
	user-select : none;
}

#menu{
	position : absolute;
	width : 300px;
	height : 40px;
	box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
	background-color: $color1;
}

.menu-element{
	width : 100px;
	height : 40px;

	float : left;
	text-align : center;

	cursor : pointer;
}

.menu-element:hover{
	background-color : rgba(255, 255, 255, .2);
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

.panel{
	position : absolute;
	width : 300px;
	height : 450px;
}

.inner-panel{
	margin : 10px;
}

.hidden{
	display : none;
}

#logs{
	position : absolute;
	top : 430px;

	background-color : white;
	display : none;

	width : 300px;
	height : 20px;
}

/* centering */

.center{
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%, -50%);
}

.center-vrt{
	position : absolute;
	top : 50%;
	transform : translate(0%, -50%);
}

.center-hrz{
	position : absolute;
	left : 50%;
	transform : translate(-50%, 0%);
}

.img-nav {
	margin-top: 10px;
}
.img-nav-spe {
	margin-top: 9px;
}