@import './generic.scss';

#p0 {
	background-color: $white;
}

#p0 .inner-panel {
    margin: 38px 5px 0px 5px;
}

#p0 #scroll-bar {
	text-align : center;
	// max-height: 420px;
	max-height: 450px;
	overflow-y: scroll;
	scrollbar-color: $color1 $black;
	scrollbar-width: thin;
	padding: 15px 8px 0px 8px;
}
#po::-webkit-scrollbar {
	width: 2px;
}

#p0 a{
	color : #007007;
	font-weight : bold;
	text-decoration : none;
}

#p0 a:hover{
	text-decoration : underline;
}

#p0 h1{
	font-size : 1.5em;
	margin-top : 15px;
	margin-bottom : 10px;
}

#p0 p{
	text-align : justify;
	margin-top : 14px;
}

#p0 #disclaimer-end{
	margin-top : 5px;
	text-align : right;
}
.txt-container {
	color: $black;
	@include font1-medium;
    font-size: 1rem;
}

.zoom-footer {
	// height: 0px;
	box-shadow: 0px -4px 6px 0px rgba(0, 0, 0, 0.25);
	background-color: $color1;
}
.bg-zoom {
	color: $white;
	background-color: $color1;
	padding-top: 3px;
	padding-bottom: 5px;
	margin: 0px 100px 0px 100px;
	display: flex;
	align-content: center;
}
.img-zoom1 {
	margin-right: 4px;
	margin-left: 14px;
}
.img-zoom2 {
	margin-left: 4px;
}
.txt-zoom {
	margin: 0px 4px 0px 4px;
}
.txt-zoomin {
	font-size: 1.8rem !important;
}