@import './generic.scss';

#p1{
	left : 600px;
	display : none;
	background-color: $white;
}

#p1 .inner-panel {
    margin: 40px 5px 0px 5px;
}

#p1 #scroll-bar{
	// margin-top: 47px;
	max-height: 450px;
	overflow-y: scroll;
	scrollbar-color: $color1 $black;
	scrollbar-width: thin;
	padding: 15px 8px 0px 8px;
}

#p1	p{
	margin : 0px;
	margin-bottom : 8px;
}

#p1 .switch{
	vertical-align : middle;
}

#p1 div{
	margin-bottom : 3px;
}

#p1 .category{
	margin-top : 7px;
	margin-bottom : 2px;
	font-style : italic;
	color : $black;
}

#p1 .text {
	@include font1-medium;
    font-size: 1rem;
	color: $black;
}
#p1 .title {
	@include font1;
    font-size: 1rem;
	color: $black;
}