/*
Copyright 2018, 2019, 2020 Clément Saccoccio
Licenced under GPL-3.0-or-later

This file is part of Iziit.
Iziit is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version.
Iziit is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
You should have received a copy of the GNU General Public License along with Iziit. If not, see <https://www.gnu.org/licenses/>.

You can contact us at contact@iziit.org
*/

article.product-item{
	/* background-color : #999; */
}

article.GreenOil-whiteListed{
	/* background-color : #3D4; */
	background-color : #FFFFFF;
	display: block;
}

article.GreenOil-blackListed{
	background-color : #F2F2F2;
	display: block;
}

article.GreenOil-blackListed:hover {
	animation: none;
	background-color: #FFFFFF;
}
