/*
Copyright 2018, 2019, 2020 Clément Saccoccio
Licenced under GPL-3.0-or-later

This file is part of Iziit.
Iziit is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version.
Iziit is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
You should have received a copy of the GNU General Public License along with Iziit. If not, see <https://www.gnu.org/licenses/>.

You can contact us at contact@iziit.org
*/

.GreenOil-error-message, .GreenOil-error-message h1, .GreenOil-error-message h2, .GreenOil-error-message p{

	margin : 0px;
	padding : 0px;
    font-family : sans-serif;
	font-weight : normal;
	line-height : normal;
	font-size : 12px;
	text-transform : none;
	text-align : inherit;
}

.GreenOil-error-message{

    position : fixed;
    bottom : 0px;
    left : 0px;
    width : 310px;
    height : 110px;
    z-index : 100;
    border : 3px solid #C00;
	box-sizing : content-box;
    background-color : white;
    background-image : repeating-linear-gradient(-45deg,transparent,transparent 15px,#FEE 15px,#FEE 30px);
    margin : 10px;
    color : #333;
    text-align : center;
    animation-name : GreenOil-error-message-anim;
    animation-duration : 0.4s;
    animation-timing-function : ease-out;
}

.GreenOil-error-message h1{

	font-weight : bold;
	margin-top : 5px;
	font-size : 16.8px;
}

.GreenOil-error-message h2{

    margin-top : 5px;
    font-size : 15px;
}

.GreenOil-error-message p{

	margin-top : 20px;
}

.GreenOil-vanishing{

    animation-name : GreenOil-vanishing-anim;
    animation-duration : 0.5s;
    animation-timing-function : linear;
}

@keyframes GreenOil-error-message-anim{

    from { left : -320px; }
    to { left : 0px; }
}

@keyframes GreenOil-vanishing-anim{

    from { opacity : 1; }
    to { opacity : 0; }
}

.blur {
	animation: opacityOnblur 1.2s forwards;
}
@keyframes opacityOnblur {
	0% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
	80% {
		-webkit-filter: blur(1px);
		-moz-filter: blur(1px);
		-o-filter: blur(1px);
		-ms-filter: blur(1px);
		filter: blur(1px);
	}
	100% {
		-webkit-filter: blur(2px);
		-moz-filter: blur(2px);
		-o-filter: blur(2px);
		-ms-filter: blur(2px);
		filter: blur(2px);
		opacity: 0.1;
	}
}

.blur-none {
	animation: opacityNoneblur 1.2s forwards;
}
@keyframes opacityNoneblur {
	0% {
		-webkit-filter: blur(2px);
		-moz-filter: blur(2px);
		-o-filter: blur(2px);
		-ms-filter: blur(2px);
		filter: blur(2px);
		opacity: 0.1;
	}
	20% {
		-webkit-filter: blur(1px);
		-moz-filter: blur(1px);
		-o-filter: blur(1px);
		-ms-filter: blur(1px);
		filter: blur(1px);
	}
	100% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-o-filter: blur(0px);
		-ms-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
.has-text-centered {
	text-align: center;
	font-size: 2rem;
	font-weight: 800;
}