/*
Copyright 2018, 2019, 2020 Clément Saccoccio
Licenced under GPL-3.0-or-later

This file is part of Iziit.
Iziit is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version.
Iziit is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
You should have received a copy of the GNU General Public License along with Iziit. If not, see <https://www.gnu.org/licenses/>.

You can contact us at contact@iziit.org
*/

.js-vignette_produit .border{
	/* background-color : #999; */
	/* display: none; */
}

.vignette_info p, .vignette_info p span{
	color : black;
}

.vignette_info span{
	color : white;
}

.js-vignette_produit .GreenOil-whiteListed{
	background-color : #FFFFFF
}

.js-vignette_produit .GreenOil-blackListed{
	background-color : #F2F2F2;
}

.js-vignette_produit .GreenOil-blackListed:hover{
	animation: none;
	background-color : #FFFFFF;
}
