@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap");
body {
  font-family: "Nunito Sans";
  font-weight: 400;
  color: #161512; }

.hero-foot {
  background-color: #A22F2E;
  color: #DBDBDB;
  padding: 0rem 1rem 0rem 1rem; }
  .hero-foot .columns {
    margin-bottom: 0rem;
    margin-top: 0rem; }
    .hero-foot .columns .column {
      padding: 0.4rem 0.75rem 0.4rem 0.75rem; }
  .hero-foot .txt-footer {
    font-family: "Nunito Sans";
    font-weight: 300;
    font-size: 0.9rem; }
  .hero-foot .link-footer {
    font-family: "Nunito Sans";
    font-weight: 300;
    font-size: 0.9rem;
    text-decoration: underline;
    color: #DBDBDB; }
  .hero-foot .link-footer:hover {
    color: white; }
  .hero-foot .span-footer {
    font-family: "Nunito Sans";
    font-weight: 200;
    font-size: 0.8rem; }
  .hero-foot .p-1l {
    padding-left: 1rem; }
  .hero-foot .p-1r {
    padding-right: 1rem; }

body .hero .hero-head {
  background-color: #FFFFFF; }
  body .hero .hero-head .navbar {
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25); }
    @media screen and (min-width: 1023px) {
      body .hero .hero-head .navbar {
        padding: 0rem 2rem 0rem 2rem; } }
    body .hero .hero-head .navbar .navbar-brand .navbar-item {
      padding: 0.2rem 0rem 0.2rem 0rem; }
      body .hero .hero-head .navbar .navbar-brand .navbar-item img {
        max-height: 2.5rem; }
    body .hero .hero-head .navbar .navbar-end .navbar-item {
      color: #A22F2E;
      font-family: "Nunito Sans";
      font-weight: 700; }
      body .hero .hero-head .navbar .navbar-end .navbar-item .button {
        color: #FFFFFF;
        background-color: #A22F2E;
        border-color: #A22F2E; }
    body .hero .hero-head .navbar .navbar-end .navbar-item:hover {
      color: #A22F2E;
      font-family: "Nunito Sans";
      font-weight: 700; }
    @media screen and (min-width: 1023px) {
      body .hero .hero-head .navbar .navbar-end .is-active {
        padding-bottom: 4px;
        border-bottom: 4px solid #DBDBDB; } }

body .hero .hero-body {
  color: #DBDBDB;
  background-color: #882F2E; }
  body .hero .hero-body .title {
    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 2rem;
    color: #DBDBDB; }
  body .hero .hero-body .subtitle {
    font-family: "Nunito Sans";
    font-weight: 600;
    font-size: 1.6rem;
    margin-top: 2rem;
    color: #DBDBDB; }
  body .hero .hero-body .subtxt {
    font-family: "Nunito Sans";
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 2rem; }
  body .hero .hero-body a {
    color: #DBDBDB; }
  body .hero .hero-body a:hover {
    color: white; }

.container {
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 2%; }
  .container section {
    margin: 5% 5% 5% 5%; }
  .container img {
    height: 15%;
    width: 15%;
    float: right;
    margin-top: -5%; }
  .container a {
    color: #A22F2E;
    font-weight: bold; }
