@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap");
body {
  font-family: "Nunito Sans";
  font-weight: 400;
  color: #161512; }

.hero-foot {
  background-color: #A22F2E;
  color: #DBDBDB;
  padding: 0rem 1rem 0rem 1rem; }
  .hero-foot .columns {
    margin-bottom: 0rem;
    margin-top: 0rem; }
    .hero-foot .columns .column {
      padding: 0.4rem 0.75rem 0.4rem 0.75rem; }
  .hero-foot .txt-footer {
    font-family: "Nunito Sans";
    font-weight: 300;
    font-size: 0.9rem; }
  .hero-foot .link-footer {
    font-family: "Nunito Sans";
    font-weight: 300;
    font-size: 0.9rem;
    text-decoration: underline;
    color: #DBDBDB; }
  .hero-foot .link-footer:hover {
    color: white; }
  .hero-foot .span-footer {
    font-family: "Nunito Sans";
    font-weight: 200;
    font-size: 0.8rem; }
  .hero-foot .p-1l {
    padding-left: 1rem; }
  .hero-foot .p-1r {
    padding-right: 1rem; }

body .hero .hero-head {
  background-color: #FFFFFF;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); }
  body .hero .hero-head .navbar {
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25); }
    @media screen and (min-width: 1023px) {
      body .hero .hero-head .navbar {
        padding: 0rem 2rem 0rem 2rem; } }
    body .hero .hero-head .navbar .navbar-brand .navbar-item {
      padding: 0.2rem 0rem 0.2rem 0rem; }
      body .hero .hero-head .navbar .navbar-brand .navbar-item img {
        max-height: 2.5rem; }
    body .hero .hero-head .navbar .navbar-end .navbar-item {
      color: #A22F2E;
      font-family: "Nunito Sans";
      font-weight: 700; }
      body .hero .hero-head .navbar .navbar-end .navbar-item .button {
        color: #FFFFFF;
        background-color: #A22F2E;
        border-color: #A22F2E; }
    body .hero .hero-head .navbar .navbar-end .navbar-item:hover {
      color: #A22F2E;
      font-family: "Nunito Sans";
      font-weight: 700; }
    body .hero .hero-head .navbar .navbar-end .is-active {
      padding-bottom: 4px;
      border-bottom: 4px solid #DBDBDB; }

body .hero .hero-body {
  background-color: #882F2E; }
  body .hero .hero-body .title {
    font-family: "Nunito Sans";
    font-weight: 700;
    color: #DBDBDB; }

body button {
  color: #DBDBDB !important;
  background-color: #A22F2E !important;
  margin: 0 auto !important;
  margin-top: 5% !important;
  display: block !important; }

body button:hover {
  color: #A22F2E !important;
  background-color: #FFFFFF !important; }

body .mail {
  font-size: 1rem;
  margin-top: 20%;
  font-weight: bold; }

body .delimiter {
  border: 1px solid #161512; }

body .form {
  margin-left: 5%; }

body h1 {
  margin-top: -10%;
  font-size: 5rem;
  margin-bottom: 3%; }

body h2 {
  font-size: 3rem; }

body #errorMail #errorMessage {
  font-size: 2rem; }
