@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap");
body {
  font-family: "Nunito Sans";
  font-weight: 400;
  color: #161512; }

.hero-foot {
  background-color: #A22F2E;
  color: #DBDBDB;
  padding: 0rem 1rem 0rem 1rem; }
  .hero-foot .columns {
    margin-bottom: 0rem;
    margin-top: 0rem; }
    .hero-foot .columns .column {
      padding: 0.4rem 0.75rem 0.4rem 0.75rem; }
  .hero-foot .txt-footer {
    font-family: "Nunito Sans";
    font-weight: 300;
    font-size: 0.9rem; }
  .hero-foot .link-footer {
    font-family: "Nunito Sans";
    font-weight: 300;
    font-size: 0.9rem;
    text-decoration: underline;
    color: #DBDBDB; }
  .hero-foot .link-footer:hover {
    color: white; }
  .hero-foot .span-footer {
    font-family: "Nunito Sans";
    font-weight: 200;
    font-size: 0.8rem; }
  .hero-foot .p-1l {
    padding-left: 1rem; }
  .hero-foot .p-1r {
    padding-right: 1rem; }
