@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap");
body {
  font-family: "Nunito Sans";
  font-weight: 400;
  color: #161512; }

.hero-foot {
  background-color: #A22F2E;
  color: #DBDBDB;
  padding: 0rem 1rem 0rem 1rem; }
  .hero-foot .columns {
    margin-bottom: 0rem;
    margin-top: 0rem; }
    .hero-foot .columns .column {
      padding: 0.4rem 0.75rem 0.4rem 0.75rem; }
  .hero-foot .txt-footer {
    font-family: "Nunito Sans";
    font-weight: 300;
    font-size: 0.9rem; }
  .hero-foot .link-footer {
    font-family: "Nunito Sans";
    font-weight: 300;
    font-size: 0.9rem;
    text-decoration: underline;
    color: #DBDBDB; }
  .hero-foot .link-footer:hover {
    color: white; }
  .hero-foot .span-footer {
    font-family: "Nunito Sans";
    font-weight: 200;
    font-size: 0.8rem; }
  .hero-foot .p-1l {
    padding-left: 1rem; }
  .hero-foot .p-1r {
    padding-right: 1rem; }

body .blur {
  animation: opacityOnblur 1.2s forwards; }

@keyframes opacityOnblur {
  0% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; }
  80% {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px); }
  100% {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    opacity: 0.2; } }

body .hero .hero-head {
  background-color: #FFFFFF; }
  body .hero .hero-head .navbar {
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25); }
    @media screen and (min-width: 1023px) {
      body .hero .hero-head .navbar {
        padding: 0rem 2rem 0rem 2rem; } }
    body .hero .hero-head .navbar .navbar-brand .navbar-item {
      padding: 0.2rem 0rem 0.2rem 0rem; }
      body .hero .hero-head .navbar .navbar-brand .navbar-item img {
        max-height: 2.5rem; }
    body .hero .hero-head .navbar .navbar-end .navbar-item {
      color: #A22F2E;
      font-family: "Nunito Sans";
      font-weight: 700; }
      body .hero .hero-head .navbar .navbar-end .navbar-item .button {
        color: #FFFFFF;
        background-color: #A22F2E;
        border-color: #A22F2E; }
    body .hero .hero-head .navbar .navbar-end .navbar-item:hover {
      color: #A22F2E;
      font-family: "Nunito Sans";
      font-weight: 700; }
    @media screen and (min-width: 1023px) {
      body .hero .hero-head .navbar .navbar-end .is-active {
        padding-bottom: 4px;
        border-bottom: 4px solid #DBDBDB; } }

body .hero .hero-body {
  background-color: #882F2E; }
  body .hero .hero-body .logos-drive {
    margin-top: 2rem; }
  body .hero .hero-body .logo-drive {
    padding-right: 1rem; }
  body .hero .hero-body .title {
    font-family: "Nunito Sans";
    font-weight: 800;
    font-size: 2.2rem;
    color: #DBDBDB;
    margin-bottom: 2.5rem; }
  body .hero .hero-body .subtitle {
    font-family: "Nunito Sans";
    font-weight: 300;
    font-size: 1.8rem;
    color: #FFFFFF;
    margin-bottom: 2rem; }
  body .hero .hero-body .text {
    font-family: "Nunito Sans";
    font-weight: 200;
    font-size: 1.2rem;
    color: #FFFFFF; }
  body .hero .hero-body a.text-bold {
    font-family: "Nunito Sans";
    font-weight: 600;
    color: #DBDBDB;
    text-decoration: underline !important; }
  body .hero .hero-body a.text-bold:hover {
    color: white; }
  body .hero .hero-body .box-switch {
    background-color: #A22F2E;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0.2rem; }
  body .hero .hero-body .category-name {
    font-family: "Nunito Sans";
    font-weight: 200;
    margin-bottom: 0.4rem;
    color: #FFFFFF; }
  body .hero .hero-body .category-element {
    font-family: "Nunito Sans";
    font-weight: 600;
    color: #FFFFFF; }
  body .hero .hero-body .switch[type="checkbox"] + label {
    padding-top: .1rem !important; }
  body .hero .hero-body .p-5l {
    padding-left: 5%; }
  body .hero .hero-body .card {
    border-radius: 0.2rem; }
    body .hero .hero-body .card .card-image .image {
      margin: 0 auto;
      padding: 1rem; }
      body .hero .hero-body .card .card-image .image .icon {
        visibility: hidden;
        max-width: 128px;
        max-height: 128px;
        display: inline-block;
        margin-top: -65px; }
      body .hero .hero-body .card .card-image .image .icon-text {
        visibility: hidden;
        text-align: center;
        font-size: 1.35rem; }
  body .hero .hero-body .card-content {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem; }
    body .hero .hero-body .card-content .card-title {
      font-family: "Nunito Sans";
      font-weight: 600;
      font-size: 1rem;
      margin-bottom: 0.4rem; }
    body .hero .hero-body .card-content .card-subtitle {
      font-family: "Nunito Sans";
      font-weight: 800;
      font-size: 1.1rem;
      margin-bottom: 0.1rem; }
    body .hero .hero-body .card-content .card-text {
      font-family: "Nunito Sans";
      font-weight: 200;
      font-size: 0.8rem; }

.switch[type="checkbox"]:checked + label::before,
.switch[type="checkbox"]:checked + label::before {
  background: #FFFFFF; }

.switch[type="checkbox"]:checked + label::after,
.switch[type="checkbox"]:checked + label::after {
  background: #A22F2E; }
