@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap");
body {
  font-family: "Nunito Sans";
  font-weight: 400;
  color: #161512; }

.hero-foot {
  background-color: #A22F2E;
  color: #DBDBDB;
  padding: 0rem 1rem 0rem 1rem; }
  .hero-foot .columns {
    margin-bottom: 0rem;
    margin-top: 0rem; }
    .hero-foot .columns .column {
      padding: 0.4rem 0.75rem 0.4rem 0.75rem; }
  .hero-foot .txt-footer {
    font-family: "Nunito Sans";
    font-weight: 300;
    font-size: 0.9rem; }
  .hero-foot .link-footer {
    font-family: "Nunito Sans";
    font-weight: 300;
    font-size: 0.9rem;
    text-decoration: underline;
    color: #DBDBDB; }
  .hero-foot .link-footer:hover {
    color: white; }
  .hero-foot .span-footer {
    font-family: "Nunito Sans";
    font-weight: 200;
    font-size: 0.8rem; }
  .hero-foot .p-1l {
    padding-left: 1rem; }
  .hero-foot .p-1r {
    padding-right: 1rem; }

.hero .hero-head {
  background-color: #FFFFFF; }
  .hero .hero-head .navbar {
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25); }
    @media screen and (min-width: 1023px) {
      .hero .hero-head .navbar {
        padding: 0rem 2rem 0rem 2rem; } }
    .hero .hero-head .navbar .navbar-brand .navbar-item {
      padding: 0.2rem 0rem 0.2rem 0rem; }
      .hero .hero-head .navbar .navbar-brand .navbar-item img {
        max-height: 2.5rem; }
    .hero .hero-head .navbar .navbar-end .navbar-item {
      color: #A22F2E;
      font-family: "Nunito Sans";
      font-weight: 700; }
      .hero .hero-head .navbar .navbar-end .navbar-item .button {
        color: #FFFFFF;
        background-color: #A22F2E;
        border-color: #A22F2E; }
    .hero .hero-head .navbar .navbar-end .navbar-item:hover {
      color: #A22F2E;
      font-family: "Nunito Sans";
      font-weight: 700; }
    @media screen and (min-width: 1023px) {
      .hero .hero-head .navbar .navbar-end .is-active {
        padding-bottom: 4px;
        border-bottom: 4px solid #DBDBDB; } }

.hero .hero-body {
  background-color: #882F2E; }
  .hero .hero-body .title {
    font-family: "Nunito Sans";
    font-weight: 800;
    font-size: 2.2rem;
    color: #DBDBDB;
    margin-bottom: 2.5rem; }
  .hero .hero-body .txt-pres {
    font-family: "Nunito Sans";
    font-weight: 200;
    font-size: 1.2rem;
    color: #FFFFFF; }
  .hero .hero-body .pres-content:nth-child(2) {
    margin-top: 4rem; }
