@import './generic.scss';

body {
    .hero {
        .hero-head {
            background-color: $white;
            .navbar {
                box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25);
                @media screen and (min-width: 1023px) {
                    padding: 0rem 2rem 0rem 2rem;
                }
                .navbar-brand {
                    .navbar-item {
                        padding: 0.2rem 0rem 0.2rem 0rem;
                        img {
                            max-height: 2.5rem;
                        }
                    }
                }
                .navbar-end {
                    .navbar-item {
                        color: $color1;
                        @include font1-bold;
                        .button {
                            color: $white;
                            background-color: $color1;
                            border-color: $color1;
                        }
                    }
                    .navbar-item:hover {
                        color: $color1;
                        @include font1-bold;
                    }
                    .is-active {
                        @media screen and (min-width: 1023px) {
                            padding-bottom: 4px;
                            border-bottom: 4px solid $color2;
                        }
                    }
                }
            }
        }
        .hero-body {
            color: $color2;
            background-color: $color3;
            .title {
                @include font1-bold;
                font-size: 2rem;
                color: $color2;
            }
            .subtitle {
                @include font1-medium;
                font-size: 1.6rem;
                margin-top: 2rem;
                color: $color2;
            }
            .subtxt {
                @include font1-medium;
                font-size: 1.2rem;
                margin-top: 2rem;
            }
            a {
                color: $color2;
            }
            a:hover {
                color: white;
            }
        }
    }
}

.container {
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 2%;

    section {
        margin: 5% 5% 5% 5%;
    }

    img {
        height: 15%;
        width: 15%;
        float: right;
        margin-top: -5%;
    }

    a {
        color: $color1;
        font-weight: bold;
    }
}

