@import './generic.scss';

body {
    .hero {
        .hero-head {
            background-color: $white;
            box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
            .navbar {
                box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25);
                @media screen and (min-width: 1023px) {
                    padding: 0rem 2rem 0rem 2rem;
                }            
                .navbar-brand {
                    .navbar-item {
                        padding: 0.2rem 0rem 0.2rem 0rem;
                        img {
                            max-height: 2.5rem;
                        }
                    }
                }
                .navbar-end {
                    .navbar-item {
                        color: $color1;
                        @include font1-bold;
                        .button {
                            color: $white;
                            background-color: $color1;
                            border-color: $color1;
                        }
                    }
                    .navbar-item:hover {
                        color: $color1;
                        @include font1-bold;
                    }
                    .is-active {
                        padding-bottom: 4px;
                        border-bottom: 4px solid $color2;
                    }
                }
            }
        }
        .hero-body {
            background-color: $color3;
            .title {
                @include font1-bold;
                color: $color2;
            }
        }
    }

    button {
        color: $color2 !important;
        background-color: $color1 !important;
        margin: 0 auto !important;
        margin-top: 5% !important;
        display: block !important;
    }
    button:hover {
        color: $color1 !important;
        background-color: $white !important;
    }

    .mail {
        font-size: 1rem;
        margin-top: 20%;
        font-weight: bold;
    }

    .delimiter {
        border: 1px solid $black;
    }

    .form {
        margin-left: 5%;
    }

    h1 {
        margin-top: -10%;
        font-size: 5rem;
        margin-bottom: 3%;
    }

    h2 {
        font-size: 3rem;
    }

    #errorMail #errorMessage {
        font-size: 2rem;
    }
}