// Imports
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900&display=swap');
// Setup colors
$black: #161512;
$white: #FFFFFF;
$grey: #C9C9C9;
// $color1: #60998C;
$color1: #A22F2E;
$color2: #DBDBDB;
$color3: #882F2E;
// Setup fonts
@mixin font1 {
    font-family: "Nunito Sans";
}

@mixin font1-xlight {
    @include font1;
    font-weight: 200;
}

@mixin font1-light {
    @include font1;
    font-weight: 300;
}

@mixin font1-regular {
    @include font1;
    font-weight: 400;
}

@mixin font1-medium {
    @include font1;
    font-weight: 600;
}

@mixin font1-bold {
    @include font1;
    font-weight: 700;
}

@mixin font1-xbold {
    @include font1;
    font-weight: 800;
}

@mixin font1-black {
    @include font1;
    font-weight: 900;
}

// Generic styles
body {
    @include font1-regular;
    color: $black;
}

.hero-foot {
    background-color: $color1;
    color: $color2;
    padding: 0rem 1rem 0rem 1rem;
    .columns {
        margin-bottom: 0rem;
        margin-top: 0rem;
        .column {
            padding: 0.4rem 0.75rem 0.4rem 0.75rem;
        }
    }
    .txt-footer {
        @include font1-light;
        font-size: 0.9rem;
    }
    .link-footer {
        @include font1-light;
        font-size: 0.9rem;
        text-decoration: underline;
        color: $color2;
    }
    .link-footer:hover {
        color: white;
    }
    .span-footer {
        @include font1-xlight;
        font-size: 0.8rem;
    }
    .p-1l {
        padding-left: 1rem;
    }
    .p-1r {
        padding-right: 1rem;
    }
}