@import './generic.scss';
body {
    .blur {
        animation: opacityOnblur 1.2s forwards;
    }
    @keyframes opacityOnblur {
        0% {
            -webkit-filter: blur(0px);
            -moz-filter: blur(0px);
            -o-filter: blur(0px);
            -ms-filter: blur(0px);
            filter: blur(0px);
            opacity: 1;
        }
        80% {
            -webkit-filter: blur(1px);
            -moz-filter: blur(1px);
            -o-filter: blur(1px);
            -ms-filter: blur(1px);
            filter: blur(1px);
        }
        100% {
            -webkit-filter: blur(2px);
            -moz-filter: blur(2px);
            -o-filter: blur(2px);
            -ms-filter: blur(2px);
            filter: blur(2px);
            opacity: 0.2;
        }
    }
    .hero {
        .hero-head {
            background-color: $white;
            .navbar {
                box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25);
                @media screen and (min-width: 1023px) {
                    padding: 0rem 2rem 0rem 2rem;
                }
                .navbar-brand {
                    .navbar-item {
                        padding: 0.2rem 0rem 0.2rem 0rem;
                        img {
                            max-height: 2.5rem;
                        }
                    }
                }
                .navbar-end {
                    .navbar-item {
                        color: $color1;
                        @include font1-bold;
                        .button {
                            color: $white;
                            background-color: $color1;
                            border-color: $color1;
                        }
                    }
                    .navbar-item:hover {
                        color: $color1;
                        @include font1-bold;
                    }
                    .is-active {
                        @media screen and (min-width: 1023px) {
                            padding-bottom: 4px;
                            border-bottom: 4px solid $color2;
                        }
                    }
                }
            }
        }
        .hero-body {
            .logos-drive {
                margin-top: 2rem;
            }
            .logo-drive {
                padding-right: 1rem;
            }
            background-color: $color3;
            .title {
                @include font1-xbold;
                font-size: 2.2rem;
                color: $color2;
                margin-bottom: 2.5rem;
            }
            .subtitle {
                @include font1-light;
                font-size: 1.8rem;
                color: $white;
                margin-bottom: 2rem;
            }
            .text {
                @include font1-xlight;
                font-size: 1.2rem;
                color: $white;
            }
            a.text-bold {
                @include font1-medium;
                color: $color2;
                text-decoration: underline !important;
            }
            a.text-bold:hover {
                color: white;
            }
            .box-switch {
                background-color: $color1;
                box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.25);
                border-radius: 0.2rem;
            }
            .category-name {
                @include font1-xlight;
                margin-bottom: 0.4rem;
                color: $white;
            }
            .category-element {
                @include font1-medium;
                color: $white;
            }
            .switch[type="checkbox"]+label {
                padding-top: .1rem !important;
            }
            .p-5l {
                padding-left: 5%;
            }
            .card {
                border-radius: 0.2rem;
                .card-image {
                    .image {
                        margin: 0 auto;
                        padding: 1rem;
                        .icon {
                            visibility: hidden;
                            max-width: 128px;
                            max-height: 128px;
                            display: inline-block;
                            margin-top: -65px;
                        }
                        .icon-text {
                            visibility: hidden;
                            text-align: center;
                            font-size: 1.35rem;
                        }
                    }
                }
            }
            .card-content {
                padding: 0.5rem 0.5rem 0.5rem 0.5rem;
                .card-title {
                    @include font1-medium;
                    font-size: 1rem;
                    margin-bottom: 0.4rem;
                }
                .card-subtitle {
                    @include font1-xbold;
                    font-size: 1.1rem;
                    margin-bottom: 0.1rem;
                }
                .card-text {
                    @include font1-xlight;
                    font-size: 0.8rem;
                }
            }
        }
    }
}

.switch[type="checkbox"]:checked+label::before,
.switch[type="checkbox"]:checked+label::before {
    background: $white;
}
.switch[type="checkbox"]:checked+label::after,
.switch[type="checkbox"]:checked+label::after {
    background: $color1;
}