@import './generic.scss';

.hero {
    .hero-head {
        background-color: $white;
        .navbar {
            box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.25);
            @media screen and (min-width: 1023px) {
                padding: 0rem 2rem 0rem 2rem;
            }            
            .navbar-brand {
                .navbar-item {
                    padding: 0.2rem 0rem 0.2rem 0rem;
                    img {
                        max-height: 2.5rem;
                    }
                }
            }
            .navbar-end {
                .navbar-item {
                    color: $color1;
                    @include font1-bold;
                    .button {
                        color: $white;
                        background-color: $color1;
                        border-color: $color1;
                    }
                }
                .navbar-item:hover {
                    color: $color1;
                    @include font1-bold;
                }
                .is-active {
                    @media screen and (min-width: 1023px) {
                        padding-bottom: 4px;
                        border-bottom: 4px solid $color2;
                    }
                }
            }
        }
    }
    .hero-body {
        background-color: $color3;
        .title {
            @include font1-xbold;
            font-size: 2.2rem;
            color: $color2;
            margin-bottom: 2.5rem;
        }
        .txt-pres {
            @include font1-xlight;
            font-size: 1.2rem;
            color: $white;
        }
        .pres-content:nth-child(2) {
            margin-top: 4rem;
        }
    }
}
